/* HeroSection.css */
.gradient-text {
    color: transparent;
    background-image: linear-gradient(to right, #00fff7, #1dc539);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: movingGradient 3s linear infinite;
}

.hero-container {
    background-color: #191919;
}

.text-shadow {
    text-shadow: 0 0 20px rgba(86, 111, 255, 0.3);
}

@keyframes movingGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.fade-in-up-h1 {
    animation-delay: 0.25s;
}

.fade-in-up-p {
    animation-delay: 0.5s;
}

.fade-in-up-btn-explore {
    animation-delay: 0.75s;
}

.fade-in-up-btn-learn-more {
    animation-delay: 0.75s;
}