body {
    overflow-x: hidden;
}

.leftNav-container {
    display: flex;
    align-items: center;
}

.MoreDropdown-container {
    position: absolute;
    left: -1115%;
    top: 115%;
}

.section-subtitle {
    margin-left: 2.1rem;
}

.item {
    padding-bottom: 0.5rem;
    margin-inline: 0.5rem;
}

.title-container{
    display: flex;
}

.item-text {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

.panel-image {
    background-image: url(public/PanelImg.webp);
    height: 14rem;
    width: 24rem;
    align-self: center;
}

.navbar {
    background-color: rgba(31, 41, 55, 0.8)
}