/* Personalizar la barra de desplazamiento */
.scrollbar-custom::-webkit-scrollbar {
    width: 12px;
    height: 14px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #1f2937;
    border-radius: 12px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 12px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #575D68;
}

/* Animación de entrada para las tarjetas */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fadeInRight 0.5s ease-out;
}
